In [1]:
import pandas as pd

In [2]:
originalDataset = pd.read_csv(r"../originalCombined.csv")
augDataset = pd.read_csv(r"../augmented Dataset.csv")
GPTDataset = pd.read_csv(r"../GPT Dataset.csv")
fullDataset = pd.read_csv(r"../full Dataset.csv")
backtransDataset = pd.read_csv(r"../backtrans Dataset.csv")
synonymrepDataset = pd.read_csv(r"../synrep Dataset.csv")
synGPTDataset = pd.read_csv(r"../synGPT Dataset.csv")
backGPTDataset = pd.read_csv(r"../backGPT Dataset.csv")

In [3]:
def dataInfo(dataset):
    print("="*100)
    print(dataset.info())
    print("--------------------------------")
    print("\nThe ratio between the sarcasm tweet and nonsarcastic tweets is as follows: ")
    print(dataset["sarcasm"].value_counts())
    print("\nThe ratio between the dialects is as follows: ")
    print(dataset["dialect"].value_counts())
    print("\nTotal is: ",dataset["sarcasm"].value_counts().sum())
    print("="*100, "\n\n")

In [4]:
print("originalDataset: ")
dataInfo(originalDataset)
print("augDataset: ")
dataInfo(augDataset)
print("GPTDataset: ")
dataInfo(GPTDataset)
print("fullDataset: ")
dataInfo(fullDataset)
print("backtransDataset: ")
dataInfo(backtransDataset)
print("synonymrepDataset: ")
dataInfo(synonymrepDataset)
print("synGPTDataset: ")
dataInfo(synGPTDataset)
print("backGPTDataset: ")
dataInfo(backGPTDataset)

originalDataset:
====================================================================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20478 entries, 0 to 20477
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   tweet    20478 non-null  object
 1   dialect  20478 non-null  object
 2   sarcasm  20478 non-null  int64
dtypes: int64(1), object(2)
memory usage: 480.1+ KB
None
--------------------------------

The ratio between the sarcasm tweet and nonsarcastic tweets is as follows:
sarcasm
0    15614
1     4864
Name: count, dtype: int64

The ratio between the dialects is as follows:
dialect
msa       12441
egypt      2971
nile       2479
gulf       1254
levant     1016
magreb      317
Name: count, dtype: int64

Total is:  20478
====================================================================================================


augDataset:
====================================================================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29670 entries, 0 to 29669
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   tweet    29670 non-null  object
 1   dialect  29670 non-null  object
 2   sarcasm  29670 non-null  int64
dtypes: int64(1), object(2)
memory usage: 695.5+ KB
None
--------------------------------

The ratio between the sarcasm tweet and nonsarcastic tweets is as follows:
sarcasm
0    15613
1    14057
Name: count, dtype: int64

The ratio between the dialects is as follows:
dialect
msa       15589
nile       5075
egypt      5039
gulf       1754
levant     1508
magreb      705
Name: count, dtype: int64

Total is:  29670
====================================================================================================


GPTDataset:
====================================================================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24936 entries, 0 to 24935
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   tweet    24936 non-null  object
 1   dialect  24936 non-null  object
 2   sarcasm  24936 non-null  int64
dtypes: int64(1), object(2)
memory usage: 584.6+ KB
None
--------------------------------

The ratio between the sarcasm tweet and nonsarcastic tweets is as follows:
sarcasm
0    15614
1     9322
Name: count, dtype: int64

The ratio between the dialects is as follows:
dialect
msa       12441
egypt      6957
nile       2479
gulf       1726
levant     1016
magreb      317
Name: count, dtype: int64

Total is:  24936
====================================================================================================


fullDataset:
====================================================================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34128 entries, 0 to 34127
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   tweet    34128 non-null  object
 1   dialect  34128 non-null  object
 2   sarcasm  34128 non-null  int64
dtypes: int64(1), object(2)
memory usage: 800.0+ KB
None
--------------------------------

The ratio between the sarcasm tweet and nonsarcastic tweets is as follows:
sarcasm
1    18515
0    15613
Name: count, dtype: int64

The ratio between the dialects is as follows:
dialect
msa       15588
egypt      9025
nile       5075
gulf       2226
levant     1508
magreb      706
Name: count, dtype: int64

Total is:  34128
====================================================================================================


backtransDataset:
====================================================================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25081 entries, 0 to 25080
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   tweet    25081 non-null  object
 1   dialect  25081 non-null  object
 2   sarcasm  25081 non-null  int64
dtypes: int64(1), object(2)
memory usage: 588.0+ KB
None
--------------------------------

The ratio between the sarcasm tweet and nonsarcastic tweets is as follows:
sarcasm
0    15613
1     9468
Name: count, dtype: int64

The ratio between the dialects is as follows:
dialect
msa       14020
egypt      4003
nile       3786
gulf       1498
levant     1261
magreb      513
Name: count, dtype: int64

Total is:  25081
====================================================================================================


synonymrepDataset:
====================================================================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25123 entries, 0 to 25122
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   tweet    25123 non-null  object
 1   dialect  25123 non-null  object
 2   sarcasm  25123 non-null  int64
dtypes: int64(1), object(2)
memory usage: 588.9+ KB
None
--------------------------------

The ratio between the sarcasm tweet and nonsarcastic tweets is as follows:
sarcasm
0    15613
1     9510
Name: count, dtype: int64

The ratio between the dialects is as follows:
dialect
msa       14028
egypt      4019
nile       3785
gulf       1512
levant     1264
magreb      515
Name: count, dtype: int64

Total is:  25123
====================================================================================================


synGPTDataset:
====================================================================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29581 entries, 0 to 29580
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   tweet    29581 non-null  object
 1   dialect  29581 non-null  object
 2   sarcasm  29581 non-null  int64
dtypes: int64(1), object(2)
memory usage: 693.4+ KB
None
--------------------------------

The ratio between the sarcasm tweet and nonsarcastic tweets is as follows:
sarcasm
0    15614
1    13967
Name: count, dtype: int64

The ratio between the dialects is as follows:
dialect
msa       14029
egypt      8005
nile       3785
gulf       1984
levant     1264
magreb      514
Name: count, dtype: int64

Total is:  29581
====================================================================================================


backGPTDataset:
====================================================================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29539 entries, 0 to 29538
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   tweet    29539 non-null  object
 1   dialect  29539 non-null  object
 2   sarcasm  29539 non-null  int64
dtypes: int64(1), object(2)
memory usage: 692.4+ KB
None
--------------------------------

The ratio between the sarcasm tweet and nonsarcastic tweets is as follows:
sarcasm
0    15614
1    13925
Name: count, dtype: int64

The ratio between the dialects is as follows:
dialect
msa       14020
egypt      7989
nile       3786
gulf       1970
levant     1261
magreb      513
Name: count, dtype: int64

Total is:  29539
====================================================================================================

In [5]:
ArsarcasmTrain = pd.read_csv(r"https://raw.githubusercontent.com/iabufarha/ArSarcasm-v2/main/ArSarcasm-v2/training_data.csv")[["tweet", "dialect", "sarcasm"]]
ArsarcasmTest = pd.read_csv(r"https://raw.githubusercontent.com/iabufarha/ArSarcasm-v2/main/ArSarcasm-v2/testing_data.csv")[["tweet", "dialect", "sarcasm"]]
iSarcasmEvalTrain = pd.read_csv(r"https://raw.githubusercontent.com/iabufarha/iSarcasmEval/main/train/train.Ar.csv")[["text","dialect", "sarcastic"]]
iSarcasmEvalTrain_rephrase = pd.read_csv(r"https://raw.githubusercontent.com/iabufarha/iSarcasmEval/main/train/train.Ar.csv")[["rephrase", "dialect", "sarcastic"]]
iSarcasmEvalTestA = pd.read_csv(r"https://raw.githubusercontent.com/iabufarha/iSarcasmEval/main/test/task_A_Ar_test.csv")[["text", "dialect", "sarcastic"]]
iSarcasmEvalTestC = pd.read_csv(r"https://raw.githubusercontent.com/iabufarha/iSarcasmEval/main/test/task_C_Ar_test.csv")[["text_0", "text_1", "dialect", "sarcastic_id"]]

iSarcasmEvalTrain.columns = ["tweet", "dialect", "sarcasm"]
iSarcasmEvalTrain_rephrase.columns = ["tweet", "dialect", "sarcasm"]
iSarcasmEvalTestA.columns = ["tweet", "dialect", "sarcasm"]

iSarcasmEvalTestC["sarcastic_tweet"] = iSarcasmEvalTestC.apply(lambda row: row["text_1"] if row["sarcastic_id"] == 1 else row["text_0"], axis=1)
iSarcasmEvalTestC["non_sarcastic_tweet"] = iSarcasmEvalTestC.apply(lambda row: row["text_0"] if row["sarcastic_id"] == 1 else row["text_1"], axis=1)

sarcastic_df = pd.DataFrame({"tweet": iSarcasmEvalTestC["sarcastic_tweet"], "dialect": iSarcasmEvalTestC["dialect"], "sarcasm": 1})
non_sarcastic_df = pd.DataFrame({"tweet": iSarcasmEvalTestC["non_sarcastic_tweet"], "dialect": iSarcasmEvalTestC["dialect"], "sarcasm": 0})
iSarcasmEvalTestC = pd.concat([sarcastic_df, non_sarcastic_df], ignore_index=True)

In [6]:
ArsarcasmTrain.info()
print(f"\nclass count: {ArsarcasmTrain['sarcasm'].value_counts()}")
print(f"\nDialect count: {ArsarcasmTrain['dialect'].value_counts()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12548 entries, 0 to 12547
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   tweet    12548 non-null  object
 1   dialect  12548 non-null  object
 2   sarcasm  12548 non-null  bool
dtypes: bool(1), object(2)
memory usage: 208.4+ KB

class count: sarcasm
False    10380
True      2168
Name: count, dtype: int64

Dialect count: dialect
msa       8562
egypt     2675
gulf       644
levant     624
magreb      43
Name: count, dtype: int64

In [7]:
ArsarcasmTest.info()
print(f"\nclass count: {ArsarcasmTest['sarcasm'].value_counts()}")
print(f"\nDialect count: {ArsarcasmTest['dialect'].value_counts()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   tweet    3000 non-null   object
 1   dialect  3000 non-null   object
 2   sarcasm  3000 non-null   bool
dtypes: bool(1), object(2)
memory usage: 49.9+ KB

class count: sarcasm
False    2179
True      821
Name: count, dtype: int64

Dialect count: dialect
msa       2323
gulf       322
egypt      306
levant      47
magreb       2
Name: count, dtype: int64

In [8]:
dataset = pd.concat([ArsarcasmTrain, ArsarcasmTest], ignore_index=True)
dataset.info()
print(f"\nclass count: {dataset['sarcasm'].value_counts()}")
print(f"\nDialect count: {dataset['dialect'].value_counts()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15548 entries, 0 to 15547
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   tweet    15548 non-null  object
 1   dialect  15548 non-null  object
 2   sarcasm  15548 non-null  bool
dtypes: bool(1), object(2)
memory usage: 258.2+ KB

class count: sarcasm
False    12559
True      2989
Name: count, dtype: int64

Dialect count: dialect
msa       10885
egypt      2981
gulf        966
levant      671
magreb       45
Name: count, dtype: int64

In [9]:
iSarcasmEvalTrain.info()
print(f"\nclass count: {iSarcasmEvalTrain['sarcasm'].value_counts()}")
print(f"\nDialect count: {iSarcasmEvalTrain['dialect'].value_counts()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3102 entries, 0 to 3101
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   tweet    3102 non-null   object
 1   dialect  3102 non-null   object
 2   sarcasm  3102 non-null   int64
dtypes: int64(1), object(2)
memory usage: 72.8+ KB

class count: sarcasm
0    2357
1     745
Name: count, dtype: int64

Dialect count: dialect
msa       1519
nile      1294
levant     116
magreb      89
gulf        84
Name: count, dtype: int64

In [10]:
iSarcasmEvalTrain_rephrase.info()
print(f"\nclass count: {iSarcasmEvalTrain_rephrase['sarcasm'].value_counts()}")
print(f"\nDialect count: {iSarcasmEvalTrain_rephrase['dialect'].value_counts()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3102 entries, 0 to 3101
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   tweet    745 non-null    object
 1   dialect  3102 non-null   object
 2   sarcasm  3102 non-null   int64
dtypes: int64(1), object(2)
memory usage: 72.8+ KB

class count: sarcasm
0    2357
1     745
Name: count, dtype: int64

Dialect count: dialect
msa       1519
nile      1294
levant     116
magreb      89
gulf        84
Name: count, dtype: int64

In [11]:
iSarcasmEvalTestA.info()
print(f"\nclass count: {iSarcasmEvalTestA['sarcasm'].value_counts()}")
print(f"\nDialect count: {iSarcasmEvalTestA['dialect'].value_counts()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1400 entries, 0 to 1399
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   tweet    1400 non-null   object
 1   dialect  1400 non-null   object
 2   sarcasm  1400 non-null   int64
dtypes: int64(1), object(2)
memory usage: 32.9+ KB

class count: sarcasm
0    1200
1     200
Name: count, dtype: int64

Dialect count: dialect
nile      520
msa       482
gulf      176
levant    168
magreb     54
Name: count, dtype: int64

In [12]:
iSarcasmEvalTestC.info()
print(f"\nclass count: {iSarcasmEvalTestC['sarcasm'].value_counts()}")
print(f"\nDialect count: {iSarcasmEvalTestC['dialect'].value_counts()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   tweet    400 non-null    object
 1   dialect  400 non-null    object
 2   sarcasm  400 non-null    int64
dtypes: int64(1), object(2)
memory usage: 9.5+ KB

class count: sarcasm
1    200
0    200
Name: count, dtype: int64

Dialect count: dialect
nile      258
magreb     52
levant     38
msa        34
gulf       18
Name: count, dtype: int64

In [13]:
dataset = pd.concat([iSarcasmEvalTrain, iSarcasmEvalTrain_rephrase, iSarcasmEvalTestA, iSarcasmEvalTestC], ignore_index=True)
dataset.info()
print(f"\nclass count: {dataset['sarcasm'].value_counts()}")
print(f"\nDialect count: {dataset['dialect'].value_counts()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8004 entries, 0 to 8003
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   tweet    5647 non-null   object
 1   dialect  8004 non-null   object
 2   sarcasm  8004 non-null   int64
dtypes: int64(1), object(2)
memory usage: 187.7+ KB

class count: sarcasm
0    6114
1    1890
Name: count, dtype: int64

Dialect count: dialect
msa       3554
nile      3366
levant     438
gulf       362
magreb     284
Name: count, dtype: int64