In [28]:
import pandas as pd

In [29]:
originalDataset = pd.read_csv(r"https://raw.githubusercontent.com/iabufarha/ArSarcasm-v2/main/ArSarcasm-v2/training_data.csv")
augDataset = pd.read_csv(r"../augmented Dataset.csv")
GPTDataset = pd.read_csv(r"../GPT Dataset.csv")
fullDataset = pd.read_csv(r"../full Dataset.csv")
backtransDataset = pd.read_csv(r"../backtrans Dataset.csv")
synonymrepDataset = pd.read_csv(r"../synrep Dataset.csv")
synGPTDataset = pd.read_csv(r"../synGPT Dataset.csv")
backGPTDataset = pd.read_csv(r"../backGPT Dataset.csv")

In [30]:
print(originalDataset.info())
print("\nThe ration between the sarcasm tweet and nonsarcastic tweets as follow: ")
print(originalDataset["sarcasm"].value_counts())
print("\nThe ration between the dialects as follow: ")
print(originalDataset["dialect"].value_counts())
print("\nTotal is: ",originalDataset["sarcasm"].value_counts().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12548 entries, 0 to 12547
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tweet      12548 non-null  object
 1   sarcasm    12548 non-null  bool
 2   sentiment  12548 non-null  object
 3   dialect    12548 non-null  object
dtypes: bool(1), object(3)
memory usage: 306.5+ KB
None

The ration between the sarcasm tweet and nonsarcastic tweets as follow:
sarcasm
False    10380
True      2168
Name: count, dtype: int64

The ration between the dialects as follow:
dialect
msa       8562
egypt     2675
gulf       644
levant     624
magreb      43
Name: count, dtype: int64

Total is:  12548

In [31]:
print(backtransDataset.info())
print("\nThe ration between the sarcasm tweet and nonsarcastic tweets as follow: ")
print(backtransDataset["sarcasm"].value_counts())
print("\nThe ration between the dialects as follow: ")
print(backtransDataset["dialect"].value_counts())
print("\nTotal is: ",backtransDataset["sarcasm"].value_counts().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13913 entries, 0 to 13912
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tweet      13913 non-null  object
 1   sarcasm    13913 non-null  bool
 2   sentiment  13913 non-null  object
 3   dialect    13913 non-null  object
dtypes: bool(1), object(3)
memory usage: 339.8+ KB
None

The ration between the sarcasm tweet and nonsarcastic tweets as follow:
sarcasm
False    10332
True      3581
Name: count, dtype: int64

The ration between the dialects as follow:
dialect
msa       9133
egypt     3283
gulf       740
levant     709
magreb      48
Name: count, dtype: int64

Total is:  13913

In [32]:
print(synonymrepDataset.info())
print("\nThe ration between the sarcasm tweet and nonsarcastic tweets as follow: ")
print(synonymrepDataset["sarcasm"].value_counts())
print("\nThe ration between the dialects as follow: ")
print(synonymrepDataset["dialect"].value_counts())
print("\nTotal is: ",synonymrepDataset["sarcasm"].value_counts().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14595 entries, 0 to 14594
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tweet      14595 non-null  object
 1   sarcasm    14595 non-null  bool
 2   sentiment  14595 non-null  object
 3   dialect    14595 non-null  object
dtypes: bool(1), object(3)
memory usage: 356.5+ KB
None

The ration between the sarcasm tweet and nonsarcastic tweets as follow:
sarcasm
False    10335
True      4260
Name: count, dtype: int64

The ration between the dialects as follow:
dialect
msa       9420
egypt     3567
gulf       794
levant     757
magreb      57
Name: count, dtype: int64

Total is:  14595

In [33]:
print(GPTDataset.info())
print("\nThe ration between the sarcasm tweet and nonsarcastic tweets as follow: ")
print(GPTDataset["sarcasm"].value_counts())
print("\nThe ration between the dialects as follow: ")
print(GPTDataset["dialect"].value_counts())
print("\nTotal is: ",GPTDataset["sarcasm"].value_counts().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15742 entries, 0 to 15741
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tweet      15742 non-null  object
 1   sarcasm    15742 non-null  bool
 2   sentiment  15742 non-null  object
 3   dialect    15742 non-null  object
dtypes: bool(1), object(3)
memory usage: 384.5+ KB
None

The ration between the sarcasm tweet and nonsarcastic tweets as follow:
sarcasm
False    10331
True      5411
Name: count, dtype: int64

The ration between the dialects as follow:
dialect
msa       8513
egypt     5450
gulf      1115
levant     621
magreb      43
Name: count, dtype: int64

Total is:  15742

In [34]:
print(augDataset.info())
print("\nThe ration between the sarcasm tweet and nonsarcastic tweets as follow: ")
print(augDataset["sarcasm"].value_counts())
print("\nThe ration between the dialects as follow: ")
print(augDataset["dialect"].value_counts())
print("\nTotal is: ",augDataset["sarcasm"].value_counts().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15292 entries, 0 to 15291
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tweet      15292 non-null  object
 1   sarcasm    15292 non-null  bool
 2   sentiment  15292 non-null  object
 3   dialect    15292 non-null  object
dtypes: bool(1), object(3)
memory usage: 373.5+ KB
None

The ration between the sarcasm tweet and nonsarcastic tweets as follow:
sarcasm
False    10330
True      4962
Name: count, dtype: int64

The ration between the dialects as follow:
dialect
msa       9730
egypt     3852
gulf       851
levant     796
magreb      63
Name: count, dtype: int64

Total is:  15292

In [35]:
print(synGPTDataset.info())
print("\nThe ration between the sarcasm tweet and nonsarcastic tweets as follow: ")
print(synGPTDataset["sarcasm"].value_counts())
print("\nThe ration between the dialects as follow: ")
print(synGPTDataset["dialect"].value_counts())
print("\nTotal is: ",synGPTDataset["sarcasm"].value_counts().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17850 entries, 0 to 17849
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tweet      17850 non-null  object
 1   sarcasm    17850 non-null  bool
 2   sentiment  17850 non-null  object
 3   dialect    17850 non-null  object
dtypes: bool(1), object(3)
memory usage: 435.9+ KB
None

The ration between the sarcasm tweet and nonsarcastic tweets as follow:
sarcasm
False    10334
True      7516
Name: count, dtype: int64

The ration between the dialects as follow:
dialect
msa       9414
egypt     6356
gulf      1264
levant     759
magreb      57
Name: count, dtype: int64

Total is:  17850

In [36]:
print(backGPTDataset.info())
print("\nThe ration between the sarcasm tweet and nonsarcastic tweets as follow: ")
print(backGPTDataset["sarcasm"].value_counts())
print("\nThe ration between the dialects as follow: ")
print(backGPTDataset["dialect"].value_counts())
print("\nTotal is: ",backGPTDataset["sarcasm"].value_counts().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17168 entries, 0 to 17167
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tweet      17168 non-null  object
 1   sarcasm    17168 non-null  bool
 2   sentiment  17168 non-null  object
 3   dialect    17168 non-null  object
dtypes: bool(1), object(3)
memory usage: 419.3+ KB
None

The ration between the sarcasm tweet and nonsarcastic tweets as follow:
sarcasm
False    10331
True      6837
Name: count, dtype: int64

The ration between the dialects as follow:
dialect
msa       9129
egypt     6071
gulf      1210
levant     710
magreb      48
Name: count, dtype: int64

Total is:  17168

In [37]:
print(fullDataset.info())
print("\nThe ration between the sarcasm tweet and nonsarcastic tweets as follow: ")
print(fullDataset["sarcasm"].value_counts())
print("\nThe ration between the dialects as follow: ")
print(fullDataset["dialect"].value_counts())
print("\nTotal is: ",fullDataset["sarcasm"].value_counts().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18547 entries, 0 to 18546
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tweet      18547 non-null  object
 1   sarcasm    18547 non-null  bool
 2   sentiment  18547 non-null  object
 3   dialect    18547 non-null  object
dtypes: bool(1), object(3)
memory usage: 452.9+ KB
None

The ration between the sarcasm tweet and nonsarcastic tweets as follow:
sarcasm
False    10333
True      8214
Name: count, dtype: int64

The ration between the dialects as follow:
dialect
msa       9730
egypt     6634
gulf      1327
levant     793
magreb      63
Name: count, dtype: int64

Total is:  18547